.title {
  font-family: PT Serif;
}

body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo {
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px "PT Serif", Arial, Helvetica, sans-serif;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.logo__circle {
  width: 28px;
  height: 28px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.main {
  padding: 0 63% 100px 0;
  background: top right no-repeat url(img/mainimg.svg);
}

.main__title {
  margin: 0 0 40px 0;
  font: 700 50px/65px "PT Serif", Arial, Helvetica, sans-serif;
}

.main__title-text__highlight {
  background: #ecf3ff;
}

.main__description {
  margin: 0 0 41px 0;
  font: 400 22px/26px Roboto, Arial, Helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 500 18px/21px Roboto, Arial, Helvetica, sans-serif;
  padding: 14px 16px;
  background: #0056ec;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.main__button:hover {
  animation-name: button;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes button {
  0% {
    opacity: 100%;
    transform: scale(1);
  }

  100% {
    opacity: 50%;
    transform: scale(1.2);
  }
}

@media (max-width: 1920px) {
  .header {
    margin-bottom: 130px;
  }

  .logo {
    margin: 0 0 2px 4px;
    padding-bottom: 38px;
  }

  .menu {
    width: 386px;
    margin-top: 4px;
  }

  .main__title {
    font: bold 66px/85px "PT Serif", Arial, Helvetica, sans-serif;
  }

  .main {
    padding: 75px 65% 200px 3px;
    background-size: 50%;
  }

  .main__description {
    width: 80%;
  }

  .main__button {
    padding: 19px 30px;
  }

  #menu__toggle {
    display: none;
  }
}

@media (max-width: 1440px) {
  .wrapper {
    width: 68%;
    margin: auto;
  }

  .header {
    margin-bottom: 84px;
  }

  .logo {
    margin: 0 0 2px 0;
  }

  .menu {
    width: 319px;
    margin-top: 6px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, Arial, Helvetica, sans-serif;
  }

  .main {
    padding: 18px 50% 100px 0;
    background-size: 55%;
  }

  .main__title {
    font: 700 50px/65px "PT Serif", Arial, Helvetica, sans-serif;
  }

  .main__description {
    font: 500 18px/21px Roboto, Arial, Helvetica, sans-serif;
    width: 79%;
  }

  .main__button {
    font: 500 14px/16px Roboto, Arial, Helvetica, sans-serif;
    padding: 14px 22px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 91%;
    margin: auto;
  }

  .header {
    margin-bottom: 84px;
  }

  .menu__item {
    margin-right: 27px;
    font: 500 14px/16px Roboto, Arial, Helvetica, sans-serif;
  }

  .main {
    padding: 18px 50% 100px 0;
  }

  .main__title {
    margin: 0 0 40px 0;
    font: 700 50px/65px "PT Serif", Arial, Helvetica, sans-serif;
  }

  .main__description {
    font: 500 18px/21px Roboto, Arial, Helvetica, sans-serif;
    width: 80%;
  }

  .main__button {
    font: 500 14px/16px Roboto, Arial, Helvetica, sans-serif;
    padding: 14px 22px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 8px;
  }

  .main {
    background-size: 85%;
    background-position: top center;
    padding: 79% 0 0;
    text-align: center;
  }

  .main__title {
    font: bold 30px/39px "PT Serif", Arial, Helvetica, sans-serif;
    margin-bottom: 35px;
    margin-left: 6px;
  }

  .main__description {
    font: 500 16px/19px Roboto, Arial, Helvetica, sans-serif;
    width: 73%;
    margin: auto;
    margin-bottom: 25px;
  }

  .main__button {
    font: 500 14px/16px Roboto, Arial, Helvetica, sans-serif;
    padding: 14px 22px;
  }

  .logo__text {
    display: none;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    width: 25px;
    height: 3px;
    background: #0056ec;
    margin: 23px 0 0;
    position: relative;
    cursor: pointer;
    transition-duration: 0.25s;
  }

  .menu__btn::before,
  .menu__btn::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: #0056ec;
    transition-duration: 0.25s;
  }

  .menu__btn::before {
    bottom: 7px;
  }

  .menu__btn::after {
    top: 7px;
  }

  .wrapper {
    width: 87%;
    margin: auto;
  }

  .menu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    border: 1px dashed red;
    transition-duration: 0.25s;
  }

  .menu__item {
    font: 500 30px/35px Roboto, Arial, Helvetica, sans-serif;
    margin-bottom: 24px;
    border: 1px dashed blue;
    transition-duration: 0.25s;
  }

  #menu__toggle {
    display: block;
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn::before {
    bottom: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
  }
}
